footer {
  background-color:#000000;
  color:#848484;
  font-family:FuturaStd-Heavy;
  font-size:12px;
  letter-spacing:0.18em;
  padding-left:100px;
  padding-right:100px;
  padding-top:92px;
  text-transform:uppercase;
}